# Basic Plotly Charts

In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
# Read the airline data into pandas dataframe
airline_data =  pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/airline_data.csv', 
                            encoding = "ISO-8859-1",
                            dtype={'Div1Airport': str, 'Div1TailNum': str, 
                                   'Div2Airport': str, 'Div2TailNum': str})

In [3]:
airline_data.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
airline_data.shape

(27000, 110)

In [5]:
data = airline_data.sample(n=500, random_state=42)

In [6]:
data.shape

(500, 110)

## plotly.graph_objects

### Scatter Plot

In [8]:
import plotly.io as pio
pio.renderers.default='iframe'

In [9]:
# First we create a figure using go.Figure and adding trace to it through go.scatter
fig = go.Figure(data=go.Scatter(x=data['Distance'], y=data['DepTime'], mode='markers', marker=dict(color='red')))
# Updating layout through `update_layout`. Here we are adding title to the plot and providing title to x and y axis.
fig.update_layout(title='Distance vs Departure Time', xaxis_title='Distance', yaxis_title='DepTime')
# Display the figure
fig.show()

### Line Plot

In [10]:
line_data = data.groupby('Month')['ArrDelay'].mean().reset_index()

In [11]:
line_data

    Month   ArrDelay
0       1   2.232558
1       2   2.687500
2       3  10.868421
3       4   6.229167
4       5  -0.279070
5       6  17.310345
6       7   5.088889
7       8   3.121951
8       9   9.081081
9      10   1.200000
10     11  -3.975000
11     12   3.240741

In [13]:
fig = go.Figure(data=go.Scatter(x=line_data['Month'], y=line_data['ArrDelay'], mode='lines', marker=dict(color='green')))
fig.update_layout(title='Month vs Average Flight Delay Time', xaxis_title='Month', yaxis_title='ArrDelay')
fig.show()

## plotly.express

### Bar Chart

In [14]:
bar_data = data.groupby(['DestState'])['Flights'].sum().reset_index()

In [16]:
bar_data.head()

  DestState  Flights
0        AK      4.0
1        AL      3.0
2        AZ      8.0
3        CA     68.0
4        CO     20.0

In [17]:
fig = px.bar(bar_data, x="DestState", y="Flights", title='Total number of flights to the destination state split by reporting airline') 
fig.show()

### Bubble Chart

In [18]:
bub_data = data.groupby('Reporting_Airline')['Flights'].sum().reset_index()

In [19]:
bub_data.head()

  Reporting_Airline  Flights
0                9E      5.0
1                AA     57.0
2                AS     14.0
3                B6     10.0
4                CO     12.0

In [20]:
fig = px.scatter(bub_data, x="Reporting_Airline", y="Flights", size="Flights",
                 hover_name="Reporting_Airline", title='Reporting Airline vs Number of Flights', size_max=60)
fig.show()

### Histogram

In [21]:
data['ArrDelay'] = data['ArrDelay'].fillna(0)

In [22]:
fig = px.histogram(data, x="ArrDelay")
fig.show()

### Pie Chart

In [23]:
fig = px.pie(data, values='Month', names='DistanceGroup', title='Distance group proportion by month')
fig.show()

### Sunburst Charts

In [24]:
fig = px.sunburst(data, path=['Month', 'DestStateName'], values='Flights')
fig.show()